@import "tailwindcss";

@theme {
  /* Couleurs VEA */
  --color-vea-red: #E63946;
  --color-vea-black: #0A0A0A;
  --color-vea-white: #FAFAFA;
  --color-vea-gray: #1A1A1A;
  --color-vea-gray-light: #2A2A2A;

  /* Couleurs VENA */
  --color-vena-kaki: #414C35;
  --color-vena-sage: #b9e7cd;
  --color-vena-lavender: #c3ccff;

  /* Typographie */
  --font-sans: 'Inter', system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0A0A0A;
  color: #FAFAFA;
  font-family: var(--font-sans);
}
